<% if params[:content].present? %>
  <h3>食品類 「<span style="color: red;"><%= params[:content] %></span>」 検索結果</h3>
<% end %>
<div class="container">
  <table class="table">
    <thead>
      <tr style="background-color: #EEEEEE;">
        <th>ID</th>
        <th></th>
        <th>JANコード</th>
        <th>食品類名</th>
        <th>投稿者</th>
        <th>賞味 / 消費期限</th>
        <th>ジャンル</th>
        <th>保管場所</th>
        <th>消費状況</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% foods.order(created_at: :desc).each do |food| %>
        <tr>
          <td class="info col-xs-1">
            <%= food.id %>
          </td>
          <td class="info col-xs-1">
            <%= image_tag food.get_foods_image, size: "25x25" %>
          </td>
          <td class="text-left">
            <%= food.jan_code || "未入力" %>
          </td>
          <td class="text-left">
            <%= food.name %>
          </td>
          <td class="text-left">
            <%= food.user.name %>
          </td>
          <td class="text-left">
            <%= food.expiration_date.strftime("%Y年%m月%d日") %>
          <td class="text-left">
            <%= food.genre %>
          </td>
          <td class="text-left">
            <%= food.place&.name || "未入力" %>
          </td>
          <td class="text-left">
            <%= food.consume_status %>
          </td>
          <td class="col-xs-2">
            <%= link_to "削除", admin_food_path(food), method: :delete, data: { confirm: '削除します。 よろしいですか？' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
