
<h4>コメント一覧</h4>
<% if @comments.empty? %>
  <p>コメントは投稿されておりません。</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">コメント番号</th>
        <th scope="col"></th>
        <th scope="col">投稿者</th>
        <th scope="col">コメント内容</th>
        <th scope="col">コメント日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each_with_index do |comment| %>
        <tr>
          <td><%= comment.id %></td>
          <td><%= image_tag comment.user.get_profile_image, size: "50x50" %></td>
          <td><%= comment.user.nickname.present? ? comment.user.nickname : comment.user.name %></td>
          <td><%= comment.body %></td>
          <td><%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
          <td>
            <%= link_to "削除", food_comment_path(comment.food, comment), method: :delete, data: { confirm: '削除します。 よろしいですか？' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @comments %>
<% end %>