
<div class="container">
  <div class="row">
    <div class="d-flex align-items-center ml-1">
      <%= form_tag(foods_path, method: :get, class: "form-inline ml-2") do %>
        <div class="form-group">
          <%= label_tag "place_id", "保管場所:" %>
          <%= select_tag "place_id", options_from_collection_for_select(@places, "id", "name", params[:place_id]), include_blank: "すべて", class: "form-control ml-1" %>
        </div>
        <div class="form-group">
          <%= label_tag "genre", "ジャンル:" %>
          <%= select_tag "genre", options_for_select([["すべて", ""]] + Food.genres.keys.map { |genre| [Food.human_attribute_name("genre.#{genre}"), genre] }, params[:genre]), class: "form-control ml-1" %>
        </div>
        <div class="form-group">
          <%= label_tag "consume_status", "消費状況:" %>
          <%= select_tag "consume_status", options_for_select([["すべて", ""]] + Food.consume_statuses.keys.map { |status| [Food.human_attribute_name("consume_status.#{status}"), status] }, params[:consume_status]), class: "form-control ml-1" %>
        </div>
        <div class="form-group">
          <%= label_tag "sort_by_expiration_date", "賞味期限の並び替え:" %>
          <%= select_tag "sort_by_expiration_date", options_for_select({ "作成順" => "" , "早い順" => "asc" }, params[:sort_by_expiration_date] || "desc"), class: "form-control ml-1" %>
        </div>
        <%= submit_tag "絞り込む", class: "btn btn-primary ml-1" %>
      <% end %>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr style="background-color: #EEEEEE">
      <th scope="col">画像</th>
      <th scope="col">食品名</th>
      <th scope="col">賞味 / 消費期限</th>
      <th scope="col">投稿者</th>
      <th scope="col">保管場所</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= image_tag food.get_foods_image %></td>
        <td><%= food.name %></td>
        <td><%= food.expiration_date.strftime("%Y年%m月%d日") %></td>
        <td><%= food.user.nickname %></td>
        <td><%= food.place&.name %></td>
        <td>
          <%= link_to "編集", edit_food_path(food), class:"btn btn-success ml-1"%>
          <%= link_to "詳細", food_path(food), class:"btn btn-info ml-1"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
