<div class="container">
  <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5">
    <span style="background-color: #EEEEEE">　<%= @food.name %>　</span>
    <%= link_to "編集", edit_food_path(@food), class:"btn btn-success ml-1"%>
  </h2>

  <div class="row">
    <div class="d-flex align-items-center">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="mr-5 font-weight-bold" rowspan="2">
              <%= image_tag @food.get_foods_image, size: "100x100" %>
            </td>
            <td>
              いいねされた数：<%= @food.likes_count %>
            </td>
            </td>
          </tr>
          <tr>
            <td>コメントボックス</td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">JANコード</td>
          <td class="col-md-7"><%= @food.jan_code %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">食品類：名称</td>
          <td class="col-md-7"><%= @food.name %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">ジャンル</td>
          <td class="col-md-7"><%= @food.genre %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">保管場所</td>
          <td class="col-md-7"><%= @food.place.name %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">賞味期限 / 消費期限</td>
          <td class="col-md-7"><%= @food.expiration_date %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">ステータス</td>
          <td class="col-md-7"><%= @food.consume_status %></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


コメント一覧

  </div>
</div>

