<%= form_with(model: @resource, scope: resource_name, url: invitation_path(resource_name), local: true, method: :post) do |form| %>
  <h2><%= t "invitations.new.header" %></h2>

  <%= render "devise/shared/error_messages", resource: @resource %>

  <% @resource.class.invite_key_fields.each do |field| -%>
    <div class="field">
      <%= form.label field %><br />
      <%= form.text_field field %>
    </div>
  <% end -%>

  <div class="actions">
    <%= form.submit t("invitations.new.submit_button") %>
  </div>
<% end %>
