<div class="container">
  <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5"><span style="background-color: #EEEEEE">　  グループ情報編集　</span></h2>
  <div class="row">
    <%= form_with model: @family, url: family_path(@family), method: :patch, local: true do |f| %>
      <div class="col-xs-12">
        <div class="form-group row">
          <%= f.label :"グループ名", class:"col-3" %>
          <%= f.text_field :name, class:"col-4" %>
          <%= f.submit "　編集内容を保存　", class:"btn btn-success col-4 ml-1" %>
        </div>
      </div>
    <% end %>
  </div>

  <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5"><span style="background-color: #EEEEEE">　  保管場所編集　</span></h2>

  <div class="col-xs-12">
    <%= form_with model: @place, url: places_path, method: :post, remote: true do |f| %>
    <div class="form-group row">
      <table>
        <tr>
          <th style="padding: 20px;">
              <%= f.label :"保管場所名"%>
          </th>
          <td>
              <%= f.text_field :name, id: "form" %>
              <%= f.submit "追加", class:"btn btn-success ml-4 py-1" %>
          </td>
      </table>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-lg-5 mt-3">
      <table class="table">
        <thead>
          <tr style="background-color: #EEEEEE;">
            <th>保管場所</th>
            <th></th>
          </tr>
        </thead>
        <tbody  id="place_index_new">
          <% @places.each do |place| %>
              <tr>
                <td><%= place.name %></td>
                <td align="center">
                  <%= link_to "削除", place_path(place), method: :delete, data: { confirm: "「#{place.name}」を削除します。 よろしいですか？" }, class:"btn btn-danger py-0" %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>