<div class="d-flex justify-content-between align-items-center">
  <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5">
    <span style="background-color: #EEEEEE">　<%= @family.name %> 詳細　</span>
  </h2>

  <% if @family.owner_id == current_user.id %>
    <div class="dropdown">
      <button class="btn btn-sm btn-secondary dropdown-toggle"
              type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        オーナー専用
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <%= link_to "承認待ち一覧", permit_family_path(@family),  class: "dropdown-item text-secondary bg-transparent" %>
        <%= link_to 'グループ編集', edit_family_path(@family),  class: "dropdown-item text-success bg-transparent" %>
        <%= link_to 'グループ削除', family_path(@family), method: :delete,  class: "dropdown-item text-danger bg-transparent", data: { confirm: "グループを削除します。 よろしいですか？" } %>
      </div>
    </div>
  <% elsif @user.family_users.first.present? %>
    <p><%= link_to 'グループ退会', family_family_users_path(@is_entry_family_user.family, user_id: current_user.id), method: :delete, class: "btn btn-danger ml-1", data: { confirm: "本当にグループを退出しますか？" } %></p>
  <% end %>
</div>

<div class="row">
  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">画像</th>
          <th scope="col">メンバー名</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag @owner.get_profile_image, size:"25x25" %></td>
          <td><%= @owner.nickname.present? ? @owner.nickname : @owner.name %></td>
          <td></td>
        </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size:"25x25" %></td>
          <td><%= user.nickname.present? ? user.nickname : user.name %></td>
          <td>
            <% if @family.owner_id == current_user.id %>
              <%= link_to "削除", family_user_path(user.id), method: :delete, data: { confirm: '削除します。 よろしいですか？' }, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>