<% total_user_count = @all_users.count %>
<h3>ユーザー一覧 <%= "（全 #{total_user_count} 件）" %></h3>
<div class="container">
  <table class="table">
    <thead>
      <tr style="background-color: #EEEEEE;">
        <th>ID</th>
        <th></th>
        <th>ユーザー名</th>
        <th>所属グループ</th>
        <th>メールアドレス</th>
        <th>作成日時</th>
        <th>会員状況</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.order(created_at: :desc).each do |user| %>
        <tr>
          <td class="info col-xs-1">
            <%= user.id %>
          </td>
          <td class="info col-xs-1">
            <%= image_tag user.get_profile_image, size: "25x25" %>
          </td>
          <td class="text-left">
            <%= user.name %>
          </td>
          <td class="text-left">
            <%= user.family&.name || user.family_users&.first&.family&.name || "未所属" %>
          </td>
          <td class="text-left">
            <%= user.email %>
          </td>
          <td class="text-left">
            <%= content_tag(:span, user.created_at.strftime("%Y年%m月%d日 %H時%M分")) %>
          </td>
          <td class="col-xs-2">
            <% if user.is_active == false %>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
          <td class="col-xs-2">
            <% if user.email != 'guest@example.com' %>
              <% if user.is_active %>
                <%= link_to "退会", admin_user_path(user), method: :patch, data: { confirm: '退会します。 よろしいですか？' }, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "有効", admin_user_path(user), method: :patch, data: { confirm: '有効にします。 よろしいですか？' }, class: "btn btn-success" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <%= paginate @users %>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "TOPに戻る", admin_homes_path, class: "btn btn-info ml-1" %>
