<% if @model == "family" %>
  <div class="container">
    <%= render 'admin/families/index', families: @records %>
  </div>
<% elsif @model == "user"%>
  <div class="container">
    <%= render 'admin/users/index', users: @records%>
  </div>
<% elsif @model == "food"%>
  <div class="container">
    <%= render 'admin/foods/index', foods: @records%>
  </div>
<% elsif @model == "comment"%>
  <div class="container">
    <%= render 'admin/comments/index', comments: @records%>
  </div>
<% end %>
  <%= link_to "TOPに戻る", admin_homes_path, class:"btn btn-info ml-1"%>
