<div class="container">
  <h2 style="padding: 10px; margin: 10px;" class="font-weight-bold my-5">
    <span style="background-color: #EEEEEE">　マイページ　</span>
  </h2>

  <div class="row">
    <div class="d-flex align-items-center">
      <p class="mr-5 font-weight-bold">
        <%= image_tag @user.get_profile_image, size: "100x", class: "img-fluid" %>
      </p>

      <p><%= link_to "編集する", edit_users_path, class:"btn btn-success ml-1"%></p>

      <% if @user.family.present? %>
        <p><%= link_to "グループ詳細", family_path(@user.family), class: "btn btn-info ml-1" %></p>
      <% elsif @user.family_users.first.present? %>
        <p><%= link_to "グループ詳細", family_path(@user.family_users.first.family), class: "btn btn-info ml-1" %></p>
      <% elsif @is_entry_membership %>
      　<p><%= link_to 'グループ加入申請取消', family_memberships_path(@is_entry_membership.family, user_id: current_user.id), method: :delete, class: "btn btn-danger ml-1" %><p>
      <% else %>
        <p><%= link_to "グループ作成", new_family_path, class: "btn btn-primary ml-1" %></p>
        <%= render "layouts/familysearch" %>
      <% end %>

    </div>

    <table class="table">
      <tbody>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">所属グループ</td>
          <td class="col-md-7">
            <% if @user.family.present? %>
              <%= @user.family.name %>
            <% elsif @user.family_users.first.present? %>
              <%= @user.family_users.first.family.name %>
            <% else %>
              所属しているグループはありません
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">名前</td>
          <td class="col-md-7"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">ニックネーム</td>
          <td class="col-md-7 <%= @user.nickname.present? ? '' : 'gray-text' %>">
            <%= @user.nickname.present? ? @user.nickname : "未入力" %>
          </td>
        </tr>
        <tr>
          <td class="col-md-2" style="background-color: #EEEEEE">メールアドレス</td>
          <td class="col-md-7"><%= @user.email %></td>
        </tr>
      </tbody>
    </table>

<% if @user.family.present? || @user.family_users.first.present? %>
  <% if @user == current_user && current_user.likes.any? %>
    <div class="row mt-5">
      <h3 class="font-weight-bold">いいねした投稿一覧</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>食品類名</th>
            <th>いいねした日時</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.likes.each do |like| %>
          <tr>
            <td>
              <%= link_to(image_tag(like.food.get_foods_image, size: "50x50"), like.food) %>
            </td>
            <td>
              <%= link_to(like.food.name, like.food, style: ("color: red;" if like.food.consume_status == '消費済み')) %>
              <%= raw "(消費済)" if like.food.consume_status == '消費済み' %>
            </td>
            <td>
              <%= content_tag(:span, like.created_at.strftime("%Y年%m月%d日 %H時%M分"), style: (like.food.consume_status == '消費済み' ? "color: red;" : "")) %>
            </td>
          </tr>
            <%= paginate @likes %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <% end %>
<% else %>
<% end %>

  </div>
</div>